#chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: auto;
  text-align: center;
}

#msgContainer {
  overflow-y: auto;
  margin-left: 15px;
  margin-right: 15px;
  border: black solid 2px;
  height: 60%;
  background-color: white;
  text-align: justify;
}

#msgContainer p {
  margin: 0px;
  height: fit-content;
  border-bottom: 1px solid grey;
}

#inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  height: 30%;

}

#chatFrom {
  width: 40%;
  height: 2em;
}

#chatMsg {
  height: 2em;
}

#sendMsg {
  align-self: center;
  background-color: rgb(48, 159, 173);
  width: 80px;
  height: 25px;
  border-radius: 10px;
  color: white;
  border: 0px;
}

#sendMsg:hover {
  background-color: rgba(48, 159, 173, 0.8);
}



