#tablero {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50vh;
  margin: 0px;
}

.loading {
  text-align: center;
  min-height: 30px;
}

.loading p {
  margin-bottom: 10px;
}

.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:  rgb(48, 159, 173);
  animation-name: dots;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-bottom: 25px;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}

.tatetiRow {
  display: flex;
  flex-direction: row;
  height: 33.3%;
}

.cell {
  border: 0px;
  height: 100%;
  width: 33.3%;
  font-size: 50px;
  background-color: whitesmoke;
}

.cell:hover {
  background-color: rgba(48, 159, 173, 0.4);
}


#row1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.tatetiCol1 {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.cartelFinPartida {
  visibility: hidden;
  display: flex;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  padding: 20% 20%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.msgContainer {
  border: 2px solid black;
  padding: 4% 4%;
  margin: auto;
  background-color: whitesmoke;
}

.msgContainer p, .msgContainer button, .msgContainer h1 {
  padding: 10px;
}
