@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color:whitesmoke;
}

/* content */

main {
  min-height: 100vh;
}

@media (min-width: 992px) {
  main {
    width: 70vw;
    padding: 20px 0 95px 0;
    margin: 0px auto;
  }
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0px;
  margin-top: 60px;
  height: 60px;
  min-width: 100%;
  background-color: rgba(67, 70, 75,1);
}

footer>p#footerText {
  color: white;
  font-size: small;
}

/* navbar */

nav {
  background-color: #43464b;
  color: white;
}

nav > a, ul > li > a {
  color: white;
}

.nav-link:hover {
  color:  rgb(48, 159, 173);
}

@media (min-width: 992px) {
  #logo {
    position: absolute;
    float: left;
  }

  #logo {
    font-size: x-large;
    font-weight: 700;
  }
}


